.container{
    background-color: #393939;
    border-bottom: #838383 2px solid;
    border-top: #838383 2px solid;
    display: flex;
    justify-content: end;
    padding: 0 60px;
    height: 5vh;
    align-items: center;
}

.element{
    display: flex;
    height: 100%;
}
.compile{
    color: #dbdbdb;
    background:none;
    border:none;
    padding: 0 15px;
}

.compile:hover{
    cursor: pointer;
}

.run:hover{
    cursor: pointer;
}

.run{
    color: #dbdbdb;
    background:none;
    border:none;
    padding: 0 15px;
}

.element:hover{
    background-color: #2a2929;
}

.icon{
    padding-right: 5px;
    color: #dbdbdb;
}



.sliderContainer {
    display: flex;
    align-items: center;
    padding: 0 15px;
}
  
  .sliderLabel {
    font-size: 0.9rem;
    white-space: nowrap;
    color: #dbdbdb;
    padding-right: 8px;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100px;
    height: 4px;
    background: #838383;
    border-radius: 2px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 14px;
    border-radius: 25%;
    background: #dbdbdb;
    cursor: pointer;
  }