

.consoleContainer{
    display: flex;
    flex-direction: column;
    border-top: #838383 2px solid;
    height: 50%;
    width: 100%;
    overflow-y: auto;
    color: #dbdbdb;
    padding: 20px;
}

.consoleContent{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
    word-wrap: break-word;
}